{% extends 'base.html' %}

{% block title %} 
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

	<!-- Errors Messages -->
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="collection">
                {% for message in messages %}
                    <li class="collection-item">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Create Post Form-->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('posts.create_post') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="user_id" value="{{ current_user.id }}">

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">title</i>
                    <input id="post_title" type="text" class="validate", name='post_title'>
                    <label for="post_title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="post_body" class="materialize-textarea validate", name="post_body"></textarea>
                    <label for="post_body">Body</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 content-center">
                    <button class="btn waves-effect waves-light" type="submit">Post it</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
