<footer class="page-footer #80deea cyan lighten-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Edibo Bootcamp</h5>
                <p class="grey-text text-lighten-4">
                    <ul>
                        <li>
                            <i class="material-icons left">panorama_fish_eye</i>
                            <p>something</p>
                        </li>
                        <li>
                            <i class="material-icons left">panorama_fish_eye</i>
                            <p>something</p>
                        </li>
                        <li>
                            <i class="material-icons left">check_circle</i>
                            <p>something</p>
                        </li>
                    </ul>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa esse aut harum corporis hic mollitia, exercitationem commodi laboriosam maxime labore possimus est ipsam nam a officiis eaque perferendis quo odio quibusdam reprehenderit tenetur fuga rerum molestias! Aliquam nisi quod iste delectus aliquid placeat dignissimos, commodi laboriosam, repudiandae fuga dolores. Maxime, dolorum dignissimos laudantium doloribus ipsa atque. Consequuntur officiis cupiditate nam amet eveniet nobis molestiae placeat, assumenda, vel repellendus, libero aut dignissimos voluptates ad vero fuga inventore voluptas vitae. Sint totam nemo facere amet, asperiores eveniet quo nostrum cumque enim exercitationem nisi, doloribus hic pariatur ipsam quisquam odio sequi ab quae?
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Menu</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Register</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Posts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Bogdans Gromovs
            <a class="grey-text text-lighten-4 right" href="https://digitalbootcamps.eu/">Edibo bootcamp</a>
        </div>
    </div>
</footer>
            